.App {
  margin: 1rem;
  font-family: 'Barlow', Helvetica, sans-serif;
}

div {
  font-family: 'Barlow', Helvetica, sans-serif;
}
.homeIcon {
  color: white;
  /* background-color: white; */
}
.Recipes {
  font-size: 30px;
}
.ingredientTitle {
  font-size: 18px;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.budgetTitle {
  padding-top: 15px;
}


.navigation {
  background-color: #285C4D;
  color: white;
}

img {
  margin: 2px 4px;
  max-width: 100%;
  height: 100%;
  padding: 4px 4px;
  overflow: hidden;
  object-fit: cover;
}

.square {
  height:300px;
  width: 300px;
}

.arrow {
  color: #285C4D;
  margin-top: 125px;
  float: right;
}

.arrowRight {
  float: left;
}

.listTitle {
  color: black;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.icon {
  color: #285C4D;
  padding-left: 8px;
}

.Recipes {
  font-size: 15px;
}

.imgContainer {
  width: 250px;
  height: 300px;
}

.form {
  padding-top: 30px;
}
.button {
  color: black;
  background-color: white;
  border: 2px solid #285C4D;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 2px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #285C4D; /* Green */
  color: white;
}

.overBudget {
  padding-bottom: 30px;
}

.listSection {
  margin-bottom: 25px;
}