.App {
  margin: 1rem;
  font-family: 'Barlow', Helvetica, sans-serif;
}

.listTitle {
  color: black;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  color: black;
  background-color: white;
  border: 2px solid #024638;
  border-radius: 5px;
  padding: 4px 8px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #024638; /* Green */
  color: white;
}