.App {
  margin: 1rem;
  font-family: 'Barlow', Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.square {
  height:300px;
  width: 300px;
}

.arrow {
  color: #285C4D;
  margin-top: 175px;
  float: right;
}

.listTitle {
  color: black;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.icon {
  color: #285C4D;
  padding-left: 8px;
}

.form {
  padding-top: 30px;
}
.button {
  color: black;
  background-color: white;
  border: 2px solid #285C4D;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 2px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #285C4D; /* Green */
  color: white;
}

.overBudget {
  padding-bottom: 30px;
}

.listSection {
  margin-bottom: 25px;
}